<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
  <link rel="stylesheet" href="../assets/stylesheets/styles.css">
</head>
<body>

  <div class="container">
    <div class="header">
      <div class="lt_Navbar">
        <div class="logo">
          <img src="../assets/images/lambo.png" alt="" class="logo">
        </div>
        <ul class= "navhaute">
              <li><button class="btn btn-primary btn-round" type "button">Home </li>
              <li><button class="btn btn-primary btn-round" type "button">testarossa </li>
              <li><button class="btn btn-primary btn-round" type "button">supercotper </li>
        </ul>
        <div class="avatar">
         <img src="https://i.pinimg.com/originals/d7/f7/89/d7f78915c6d576ec29b2244170f892a4.jpg" alt="Avatar" class="avatar">
       </div>
      </div>

    </div>

      <section class="lt_Banner" style="height: 100vh; color: pink; text-align: center; display: flex; align-items: flex-end; justify-content: space-around;">
        <br>
        <br>
        <h1 style="font-family:Open Sans; font-size: 100px;
        font-weight: bolder; color: magenta;"> Bienvenue dans les années 80</h1>




      </section>


    <div class="tabs">
	    <input name="tabs" type="radio" id="tab-1" checked="checked" class="input"/>
	    <label for="tab-1" class="label">Testarossa</label>
	      <div class="panel">
		      <h1>Testarossa</h1>
		      <p>The orange (specifically, the sweet orange) is the fruit of the citrus species Citrus × sinensis in the family Rutaceae</p>
		<p>The fruit of the Citrus × sinensis is considered a sweet orange, whereas the fruit of the Citrus × aurantium is considered a bitter orange. The sweet orange reproduces asexually (apomixis through nucellar embryony); varieties of sweet orange arise through mutations.</p>
	      </div>

	    <input name="tabs" type="radio" id="tab-2" class="input"/>
	    <label for="tab-2" class="label">Tangerine</label>
	    <div class="panel">
		      <h1>Tangerine</h1>
		      <p>The tangerine (Citrus tangerina) is an orange-colored citrus fruit that is closely related to, or possibly a type of, mandarin orange (Citrus reticulata).</p>
		      <p>The name was first used for fruit coming from Tangier, Morocco, described as a mandarin variety. Under the Tanaka classification system, Citrus tangerina is considered a separate species.</p>
	    </div>

	       <input name="tabs" type="radio" id="tab-3" class="input"/>
	       <label for="tab-3" class="label">Clemantine</label>
	       <div class="panel">
		      <h1>Clemantine</h1>
		      <p>A clementine (Citrus ×clementina) is a hybrid between a mandarin orange and a sweet orange, so named in 1902. The exterior is a deep orange colour with a smooth, glossy appearance. Clementines can be separated into 7 to 14 segments. Similarly to tangerines, they tend to be easy to peel.</p>
	    </div>
    </div>

  </div>

</body>
</html>
